@import "variables";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: $my-white;
  }
  
  .header {
    text-transform: uppercase;
  
  
    .header-top {
      display: flex;
      align-items: center;
      justify-content: end;
      border-bottom: 3px solid $ocher-light;
  
      @media (max-width: 768px) {
        justify-content: start;
      }
  
      .header-btn {
        background-color: $my-white;
        padding: 15px 40px;
        text-transform: uppercase;
        border: 5px solid $ocher;
        color: $ocher;
        font: bolder 18px $Roboto;
        margin: 10px 20px 10px 50px;
        &:hover {
          cursor: pointer;
          border: 5px solid $ocher-light;
        }
      }
  
      .quiz {
        @media (max-width: 768px) {
          display: none;
          .header-button:hover {
            cursor: pointer;
          }
        }
        &:hover {
          cursor: pointer;
  
          .quiz-box {
            .quiz-right {
              width: 0px;
            }
  
            .quiz-left {
              width: 100%;
            }
          }
        }
        .style-quiz {
          font: bold 18px $Roboto;
          color: #94712f;
          text-align: center;
        }
        .quiz-box {
          display: flex;
          margin-top: 5px;
          width: 160px;
  
          .quiz-left,
          .quiz-right {
            width: 50%;
            height: 5px;
            transition: width 0.5s linear;
          }
  
          .quiz-left {
            background-color: $ocher;
          }
          .quiz-right {
            background-color: $ocher-light;
          }
        }
      }
    }
  }
  .header-down {
    margin-top: 10px;
    border-bottom: 5px solid $ocher-light;
    height: 80px;
    @media (max-width: 768px) {
      border: none;
      display: none;
    }
    .list {
      display: flex;
      justify-content: space-around;
      font: bolder 18px $Roboto;
      color: $ocher;
      list-style: none;
      :hover {
        cursor: pointer;
      }
    }
  }

  .main-container {
    background-image: url(../img/dada_design-9KGB4HspwsM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: 55px;
    animation: zoom 15s ease infinite alternate;
  
    @media (max-width: 768px) {
      background-size: contain;
      background-position: top;
      animation: none;
      margin-top: 0px;
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      .dream-home {
        color: $my-white;
        margin-top: 25px;
        color: $my-white;
        font-family: "Courier New", Courier, monospace;
        font-size: 70px;
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
    .text-main {
      position: absolute;
      font-size: 18px;
      top: 200px;
      right: 500px;
      width: 150px;
      height: 300px;
      @media (max-width: 1219px) {
        width: 300px;
        height: 100px;
      }
      @media (max-width: 770px) {
        width: 300px;
        height: 100px;
        left: 50px;
      }
    }
  
    .fa-solid fa-arrow-down {
      color: black;
      font-size: 20px;
    }
  }
  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  .box-container {
    display: flex;
    justify-content: center;
    border-top: 4px solid $ocher;
    border-bottom: 4px solid $ocher;
    .box {
      text-align: center;
      border: 6px solid $ocher-light;
      align-items: center;
      margin: 40px;
      width: 300px;
      height: 200px;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
  
      img{
        width: 100px;
        height: 100px;
      }
    }
    h1 {
      font: $Roboto;
      font-size: 50px;
      margin: 80px 0;
      color: rgba(0, 0, 0, 0.752);
      text-align: center;
    }
  }
  
 
  
